Source: ms-mpi
Version: 1.0.0
 Port-Version: 1
#Homepage: 
Description: 
Build-Depends: networkdirect
#Default-Features: 
#
#Feature: 
#Description: 
#Build-Depends: 
#Supports: !arm64
#Supports: !arm
#Supports: linux|osx !(uwp|arm|arm64)
#Supports: !(uwp|arm|arm64)
#Supports: !x86
#Supports: !(uwp|arm)
#Supports: !(uwp|arm|arm64|linux|osx)
